body,html {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
}
.controlContainer {
    width: 150px;
    display: flex;
    flex-direction: column;
}
#mapContainer {
    flex: 3;
    margin: 1px;
    border: 2px dashed #ccc;
}
#mapContainer.drag-over {
    border-color: #3280fc;
    background-color: red;
}
.codeContainer {
    flex: 1;
}
#map {
    height: 100%;
    width: 100%;
}
.CodeMirror {
    border: 1px solid #eee;
    height: 100%;
}
.button {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 7px;
}
.div-icon{
    font-size:15px;
    color:red;
}
.historyContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 40px;
    overflow-y: scroll;
}
.title {
    color: #FFF;
    text-align: center;
    background-color: gray;
    padding-top: 4px;
    padding-bottom: 4px;
}
#historyContent {
    padding-left: 10px;
}
.historyItem {
    cursor: pointer;
    margin-top: 10px;
}
#infoContent {
    text-align: center;
}
